<div class="animated fadeIn">
    <div class="row">
       <div class="col-lg-12">
          <div class="card">
             <div class="card-header">
                <strong class="card-title">Job Posting</strong>
             </div>
             <div class="card-body">
               <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="col-lg-6">
                     <div id="firstForm" [hidden]="showFormValue != 'firstForm'">
                        <form action="" method="post" novalidate="novalidate">
                            <div class="radio-button">
                              <label class="radio-btn" id="Vehicle-box" >Vehicle
                                <input type="radio" (change)="changeRequireType()" name="radio" id="customer" value="Vehicle" [(ngModel)]="job.requiredType" />
                                <span class="checkmark radio-btn1"></span>
                              </label>
                              <label class="radio-btn" [hidden]="job.typeOfJob=='on demand'" id="Machinery-box">Machinery
                                <input type="radio"  (change)="changeRequireType()" name="radio" id="driver" value="Machinery" [(ngModel)]="job.requiredType" />
                                <span class="checkmark radio-btn1"></span>
                              </label>
                            </div>
                            <div style="clear: both;"></div>
                        
                             <br />
                             <div class="form-group">
                                <label>Pickup Location</label>
                                <input class="form-control"  required type="text" autocorrect="off" autocapitalize="off" spellcheck="off" id="pickupAutocomplete" name="pickupAutocomplete" placeholder="Pickup Location">

                                <div class="error-div" *ngIf="firstFormError.pickLocation && isFormValidate.firstFormSubmit" style="margin-top:10px;" >
                                  Please select valid location
                                </div>
                             </div>
                             <div class="form-group" [hidden]="job.requiredType == 'Machinery'"> 
                                <label>Drop Location</label>
                                <input class="form-control"  required type="text" autocorrect="off" autocapitalize="off" spellcheck="off" id="dropAutocomplete" name="dropAutocomplete" placeholder="Drop Location">

                                <div class="error-div" *ngIf="firstFormError.dropLocation && isFormValidate.firstFormSubmit" style="margin-top:10px;" >
                                  Please select valid location
                                </div>
                             </div>
                             <div class="form-group">
                                <label>Date</label>
                                <input class="form-control" id="date" name="date" placeholder="Date" type="text" readonly/>
                                <div class="error-div"  *ngIf="firstFormError.date && isFormValidate.firstFormSubmit" style="margin-top:10px;" >
                                  Date is required 
                                </div>
                             </div>
                             <div class="form-group">
                                <label>Time</label>
                                <input class="form-control" id="time" name="time" placeholder="Time" type="text" readonly  />
                                <div class="error-div" *ngIf="firstFormError.startTime && isFormValidate.firstFormSubmit" style="margin-top:10px;" >
                                  Time is required 
                                </div>
                             </div>
                             <div class="form-group" [hidden]="job.requiredType=='Vehicle'">
                                <label>End Date</label>
                                <input class="form-control" id="endDate" name="endDate" placeholder="End Date" type="text" readonly/>
                                <div class="error-div" *ngIf="firstFormError.endDate && isFormValidate.firstFormSubmit" style="margin-top:10px;" >
                                  Date is required 
                                </div>
                             </div>
                             <div class="form-group" [hidden]="job.requiredType=='Vehicle'">
                                <label>End Time</label>
                                <input class="form-control" id="endTime" name="endTime" placeholder="End Time" type="text" readonly  />
                                <div class="error-div" *ngIf="firstFormError.endTime && isFormValidate.firstFormSubmit" style="margin-top:10px;" >
                                  Time is required 
                                </div>
                             </div>

                              <div style="clear: both;"></div>
                              <div class="vehicle-selection">
                                <div class="vehicle-list" id="Vehicle-icon">
                                    <p>Select Vehicle</p>
                                    <div  class="hvrbox col-lg-4 col-md-4 col-sm-6" *ngFor="let vehicleType of selectedVehicleTypes">
                                       <!-- <div  class="vehicle-img hvrbox-layer_bottom"> -->
                                        <div [ngClass]="{'selected-vehicle':job.typeOfVehicle === vehicleType.name,'vehicle-img':true, 'hvrbox-layer_bottom':true}" > 
                                          <img class="img-responsive" [src]="baseURL+vehicleType.imgUrl">
                                          <p>{{vehicleType.typeOfVehicle}}</p>
                                          <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                             <div class="hvrbox-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                <a href="javascript:;" (click)="selectVehicle(vehicleType.name)" class="next-form">select</a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>

                                </div>
                                <br />
                                <div class="error-div" *ngIf="firstFormError.typeOfVehicle && isFormValidate.firstFormSubmit" style="margin-top:10px;" >
                                      Time is required 
                                </div>
                                <div style="clear: both;"></div>
                                <button id="payment-button" type="button" class="btn btn-lg btn-info btn-block next-form" (click)="secondForm()">
                                 Next
                                </button>
                              </div>
                        </form>
                     </div>
                     <div class="truck-booking" id="truck2" [hidden]="showFormValue != 'secondForm'">
                        <form class="contact100-form validate-form">
                           <div class="form-group">
                              <label>Job Title</label>
                              <input name="job title" type="text" class="form-control" aria-required="true">
                           </div>
                           <div class="form-group">
                              <label>Description</label>
                              <input name="job title" type="text" class="form-control" aria-required="true">
                           </div>
                            <p>List Of Possible Routs</p>
                            <div class="row Possible-routs routes-margin" *ngFor="let route of routes">
                               <a href="javascript:;" class="Routs">
                                  <div class="col-md-4">
                                     <div class="map-img">
                                        <img class="img-responsive route-img" src="assets/images/map.jpg">
                                     </div>
                                  </div>
                                  <div class="col-md-8">
                                     <div class="map-text">
                                        <h6>{{route.legs[0].distance.text}}</h6>
                                        <p>{{route.legs[0].duration.text}}</p>
                                        <p>via {{route.summary}}</p>
                                     </div>
                                  </div>
                               </a>
                            </div>
                            <button id="payment-button" type="button" class="btn btn-lg btn-info btn-block next-form col-lg-6" (click)="back()">
                                 Back
                           </button>
                            <button id="payment-button" type="button" class="btn btn-lg btn-info btn-block next-form col-lg-6" (click)="thirdForm()">Next</button>
                        </form>
                     </div>
                     <div class="truck-booking" id="kuch" [hidden]="showFormValue != 'thirdForm'">
                        <form class="contact100-form validate-form">
                           <div class="form-group">
                              <label>Value Of Goods</label>
                              <input name="job title" type="text" class="form-control" aria-required="true">
                           </div>
                           <div class="form-group">
                              <label>Nature Of Good</label>
                              <input name="job title" type="text" class="form-control" aria-required="true">
                           </div>
                           <div class="form-group">
                              <label>Net Price</label>
                              <input name="job title" type="text" class="form-control" aria-required="true">
                           </div>
                           <button id="payment-button" type="button" class="btn btn-lg btn-info btn-block next-form col-lg-6" (click)="back()">
                                 Back
                           </button>
                           <button id="payment-button" type="button" class="btn btn-lg btn-info btn-block next-form col-lg-6" (click)="secondForm()">
                                 Post
                           </button>
                        </form>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="demand-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3561.0912372245443!2d75.81046201555608!3d26.805223383174045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db4f8c2aa0f2f%3A0x9b1fab8b662f3f36!2sAdvocosoft+IT+services+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1518693227695" frameborder="0" style="border:0" allowfullscreen></iframe>
                     </div>
                  </div>
               </div>
             </div>
          </div>
       </div>
    </div>
</div>


<!-- <div class="animated fadeIn">
    <div class="row">
       <div class="col-lg-12">
          <div class="card">
             <div class="card-header">
                <h4>Job Posting</h4>
             </div>
             <div class="card-body">
                   <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <div class="col-lg-6">
                         <div id="truck1">
                            <div class="radio-button">
                               <label class="radio-btn" id="vehicle-box">Vehicle
                               <input type="radio" name="radio">
                               <span class="checkmark"></span>
                               </label>
                               <label class="radio-btn" id="machinery-box">Machinery
                               <input type="radio" name="radio">
                               <span class="checkmark"></span>
                               </label>
                            </div>
                            <div style="clear: both;"></div>
                            <form action="" method="post" novalidate="novalidate">
                               <div class="form-group">
                                  <label>Name</label>
                                  <input name="name" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>UserName</label>
                                  <input name="user-name" type="text" class="form-control">
                               </div>
                            </form>
                            <div style="clear: both;"></div>
                            <div class="vehicle-selection">
                               <div class="vehicle-list" id="Vehicle-icon" style="display: none;">
                                  <p>Select Vehicle</p>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/1.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="#" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/2.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="#" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/3.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="#" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/4.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="#" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/5.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="#" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/6.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="#" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/7.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="vehicle-list" id="Machinery-icon" style="display: none;">
                                  <p>Select Machinery</p>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/1.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="#" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/2.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="#" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/3.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="#" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/4.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="#" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/5.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="#" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/6.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="#" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/7.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block next-form">
                               Submit
                               </button>
                               <div style="clear: both;"></div>
                            </div>
                         </div>
                         <div class="truck-booking" id="truck2" style="display: none;">
                            <p>What Type of Goods</p>
                            <form class="contact100-form validate-form">
                               <div class="form-group">
                                  <label>Job Title</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>Total Weight</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>Type Of Vehicle</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>Source</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>Destination</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                            </form>
                            <p>List Of Possible Routs</p>
                            <div class="row Possible-routs">
                               <a href="#" class="Routs">
                                  <div class="col-md-4">
                                     <div class="map-img">
                                        <img class="img-responsive" src="assets/images/map.jpg">
                                     </div>
                                  </div>
                                  <div class="col-md-8">
                                     <div class="map-text">
                                        <h6>1150KM</h6>
                                        <p>20 Hours</p>
                                     </div>
                                  </div>
                               </a>
                            </div>
                            <div class="row Possible-routs">
                               <a href="#" class="Routs">
                                  <div class="col-md-4">
                                     <div class="map-img">
                                        <img class="img-responsive" src="assets/images/map.jpg">
                                     </div>
                                  </div>
                                  <div class="col-md-8">
                                     <div class="map-text">
                                        <h6>1150KM</h6>
                                        <p>20 Hours</p>
                                     </div>
                                  </div>
                               </a>
                            </div>
                            <div class="row Possible-routs">
                               <a href="#" class="Routs">
                                  <div class="col-md-4">
                                     <div class="map-img">
                                        <img class="img-responsive" src="assets/images/map.jpg">
                                     </div>
                                  </div>
                                  <div class="col-md-8">
                                     <div class="map-text">
                                        <h6>1150KM</h6>
                                        <p>20 Hours</p>
                                     </div>
                                  </div>
                               </a>
                            </div>
                         </div>
                         <div class="truck-booking" id="kuch" style="display: none;">
                            <p>Find Best Route</p>
                            <form class="contact100-form validate-form">
                               <div class="form-group">
                                  <label>Total Distance</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>Total Time</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>Total Cost</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>Value Of Goods</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>Nature Of Good</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>Net Price</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="col-md-6">
                                  <div class="submit-btn">
                                     <a href="#">Post</a>
                                  </div>
                               </div>
                               <div class="col-md-6">
                                  <div class="submit-btn">
                                     <a href="#">Back</a>
                                  </div>
                               </div>
                            </form>
                         </div>
                      </div>
                      <div class="col-lg-6">
                         <div class="demand-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3561.0912372245443!2d75.81046201555608!3d26.805223383174045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db4f8c2aa0f2f%3A0x9b1fab8b662f3f36!2sAdvocosoft+IT+services+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1518693227695" frameborder="0" style="border:0" allowfullscreen></iframe>
                         </div>
                      </div>
                   </div>
                   <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                      <div class="col-lg-6">
                         <div id="truck3">
                            <div style="clear: both;"></div>
                            <form action="" method="post" novalidate="novalidate">
                               <div class="form-group">
                                  <label>Name</label>
                                  <input name="name" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>UserName</label>
                                  <input name="user-name" type="text" class="form-control">
                               </div>
                            </form>
                            <div style="clear: both;"></div>
                            <div class="vehicle-selection">
                               <div class="vehicle-list" id="Vehicle-icon">
                                  <p>Select Vehicle</p>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/1.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="#" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/2.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="#" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/3.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="#" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/4.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="#" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/5.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="#" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/6.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="#" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="hvrbox col-lg-4 col-md-4 col-sm-6">
                                     <div class="vehicle-img hvrbox-layer_bottom">
                                        <img class="img-responsive" src="assets/images/icon/7.png">
                                        <p>Ute</p>
                                        <div class="hvrbox-layer_top hvrbox-layer_slideup">
                                           <div class="hvrbox-text">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                              <a href="" class="next-form">select</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block next-form1">
                               Submit
                               </button>
                               <div style="clear: both;"></div>
                            </div>
                         </div>
                         <div class="truck-booking" id="truck4" style="display: none;">
                            <p>What Type of Goods</p>
                            <form class="contact100-form validate-form">
                               <div class="form-group">
                                  <label>Job Title</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>Total Weight</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>Type of Vehicle</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>Source</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>Destination</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>Date & Time</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>Nature Of Good</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>Value Of Good</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="form-group">
                                  <label>Your Budget</label>
                                  <input name="job title" type="text" class="form-control" aria-required="true">
                               </div>
                               <div class="col-md-12">
                                  <div class="submit-btn">
                                     <a href="#">Post</a> 
                                  </div>
                               </div>
                            </form>
                         </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="standard-img">
                              <img class="img-responsive" src="assets/images/truck-8.jpg">
                          </div>
                      </div>
                   </div>
             </div>
          </div>
       </div>
    </div>
</div> -->