<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Register a {{user.realm}}</strong>
                </div>
                <div class="card-body">
                    <div id="pay-invoice">
                        <div class="card-body">
                            <form  (submit)="signup(signupForm)" class="validate-form" #signupForm="ngForm">
                                
                                <div class="form-group img-section">
                                    <img class="profile-pic" [src]="defaultUserImg" />
                                    <div style="clear: both;"></div>
                                    <div class="upload-button">
                                        <p>Upload Image</p>
                                    </div>
                                    <input class="file-upload image-upload" type="file" accept="image/*" />
                                </div>
                                
                                <div style="clear: both;"></div>
                                
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" [(ngModel)]="user.name" required name="name" placeholder="Name" #name="ngModel"  class="form-control">
                                    </div>
                                    <div class="error-div" *ngIf="signupForm._submitted && signupForm.hasError('required', 'name')">
                                        Name is required
                                    </div>  
                                </div>
                                

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" [(ngModel)]="user.password" name="password" placeholder="Password" required minlength="6" #password="ngModel" class="form-control">
                                    </div>
                                    <div class="error-div" *ngIf="signupForm._submitted && signupForm.hasError('required', 'password')">
                                        Password is required
                                    </div>  
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="password" [(ngModel)]="user.confirmPassword" name="confirmPassword" placeholder="Confirm-Password" required minlength="6" #conPassword="ngModel" class="form-control">
                                    </div>
                                </div>
                                <div class="error-div" *ngIf="signupForm._submitted && signupForm.hasError('required', 'conPassword')">
                                    Confirm Password is required
                                </div>  
                                <div class="error-div" *ngIf="signupForm._submitted && !signupForm.hasError('required', 'conPassword') && user.password!=user.confirmPassword">
                                    Password doesn't match
                                </div>

                                <div class="col-md-12" [hidden]="user.realm != 'owner'">
                                    <div class="form-group">
                                        <label>Company Name</label>
                                        <input  class="form-control"  type="text" [required]="user.realm == 'owner'" [(ngModel)]="user.companyName" name="companyName" placeholder="Company Name" #companyName="ngModel">
                                    </div>
                                    <div class="error-div" *ngIf="signupForm._submitted && signupForm.hasError('required', 'companyName')">
                                        Company Name is required
                                    </div>  
                                </div>
                                

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control"  type="text" [(ngModel)]="user.email" [pattern]="re" required name="email" placeholder="Email" #email="ngModel">
                                    </div>
                                    <div class="error-div" *ngIf="signupForm._submitted && signupForm.hasError('required', 'email')">
                                        Email is required
                                    </div>  
                                    <div class="error-div" *ngIf="signupForm._submitted && !signupForm.hasError('required', 'email') && signupForm.hasError('pattern', 'email')">
                                        Email is not Valid
                                    </div>
                                </div>
                                

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Mobile</label>
                                        <input class="form-control"  type="text" [(ngModel)]="user.mobile" required name="mobile" placeholder="Mobile Number" #mobile="ngModel">
                                    </div>
                                    <div class="error-div" *ngIf="signupForm._submitted && signupForm.hasError('required', 'mobile')">
                                        Mobile number is required
                                    </div>  
                                    <!-- <div class="error-div" *ngIf="signupForm._submitted && !signupForm.hasError('required', 'mobile') && signupForm.hasError('pattern', 'mobile')">
                                        Email is not Valid
                                    </div> -->
                                </div>
                               

                                <div class="col-6 document-demo">
                                    <label>Upload Your Driving Licence</label>
                                    <div class="input-group">
                                        <input type="file" id="base-input" class=" form-style-base input100">
                                        <input type="text" id="fake-input" class="form-style-fake input100" placeholder="Upload your Driving Licence" readonly>
                                        <span class="glyphicon glyphicon-open input-place"></span>
                                    </div>
                                </div>
                                <div class="col-6 document-demo">
                                    <label>Any Goverment ID</label>
                                    <div class="input-group">
                                        <input type="file" id="base-input1" class=" form-style-base input100">
                                        <input type="text" id="fake-input1" class="form-style-fake input100" placeholder="Any Goverment ID" readonly>
                                        <span class="glyphicon glyphicon-open input-place"></span>
                                    </div>
                                </div>
                                <div>
                                    <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- old code -->

<!-- <div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Registration</strong>
                </div>
                <div class="card-body">
                    
                    <div id="pay-invoice">
                        <div class="card-body">
                            <form action="" method="post" novalidate="novalidate">
                                

                                <div class="form-group">
                                    <label>Name</label>
                                    <input name="name" type="text" class="form-control" aria-required="true">
                                </div>
                                <div class="form-group">
                                    <label>UserName</label>
                                    <input name="user-name" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Mobile Number</label>
                                    <input name="mobile-number"  class="form-control" type="text">
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="form-control" name="Email">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label>Password</label>
                                        <div class="input-group">
                                            <input class="form-control" type="Password" name="Password">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label>Confirm Password</label>
                                        <div class="input-group">
                                            <input class="form-control" type="Password" name="Password">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                       Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
        
    </div>
</div> -->

<!--     <script>
    $(document).ready(function() {


        var readURL = function(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('.profile-pic').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }


        $(".file-upload").on('change', function() {
            readURL(this);
        });

        $(".upload-button").on('click', function() {
            $(".file-upload").click();
        });
    });
    </script>
    <script>
    $('input[id=base-input]').change(function() {
        $('#fake-input').val($(this).val().replace("C:\\fakepath\\", ""));
    });
    $('input[id=main-input]').change(function() {
        console.log($(this).val());
        var mainValue = $(this).val();
        if (mainValue == "") {
            document.getElementById("fake-btn").innerHTML = "Choose File";
        } else {
            document.getElementById("fake-btn").innerHTML = mainValue.replace("C:\\fakepath\\", "");
        }
    });
    </script>
    <script>
    $('input[id=base-input1]').change(function() {
        $('#fake-input1').val($(this).val().replace("C:\\fakepath\\", ""));
    });
    $('input[id=main-input]').change(function() {
        console.log($(this).val());
        var mainValue = $(this).val();
        if (mainValue == "") {
            document.getElementById("fake-btn").innerHTML = "Choose File";
        } else {
            document.getElementById("fake-btn").innerHTML = mainValue.replace("C:\\fakepath\\", "");
        }
    });
    </script> -->