<div class="login-page">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="assets/images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form  class="contact100-form validate-form" (submit)="login(loginForm)" #loginForm="ngForm">
                        <div class="form-group">
                          <label >
                            <input type="radio" [(ngModel)]="user.realm" value="admin" id="admin" name="type"> Admin
                            <span class="checkmark"></span>
                          </label>
                          <label >
                            <input type="radio" [(ngModel)]="user.realm" value="super_admin" name="type" id="super_admin"> Super Admin
                            <span class="checkmark"></span>
                          </label>
                        </div>

                         <div class="alert alert-danger" *ngIf="errSuccObj.error" role="alert">{{errSuccObj.error}}</div>

                        <div class="form-group">
                            <label>Email address</label>
                            <input type="text" class="form-control" [(ngModel)]="user.email" (ngModelChange)="validateEmail()" [required]="true" name="Email" placeholder="Email" #email="ngModel">
                        </div>
                        <div class="error-div" *ngIf="userErr.email">
                          Email is required
                        </div>
                        <div class="error-div" *ngIf="userErr.emailValid">
                          Invalid email
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" required [(ngModel)]="user.password" required name="password" placeholder="Password" #password="ngModel">
                        </div>
                        <div class="error-div" *ngIf="userErr.password">
                          Password is required
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                            <label class="pull-right">
                                <a href="#">Forgotten Password?</a>
                            </label>

                        </div>
                        <button class="btn btn-success btn-flat m-b-30 m-t-30" type="submit" id="loginBtn" data-loading-text="Login..." autocomplete="off">Sign in</button>
                    </form>



                </div>
            </div>
        </div>
    </div>
</div>    
