<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">{{this.params.type | titlecase}} List</strong>
                </div>
                <div class="card-body Vehicle" *ngFor="let people of peopleList">
                    <div class="col-md-2">
                        <div class="driver-image">
                            <img class="img-responsive" [src]="people.profileImage==''?defaultUserImg:baseURL+people.profileImage">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="Vehicle-list">
                            <h3>{{people.name}}</h3>
                            <span *ngIf="people.createdAt">Date - {{people.createdAt | date:"dd MMMM, yyyy"}}</span>
                            <ul>
                                <li *ngIf="people.email">Email - {{people.email}}</li>
                                <li *ngIf="people.mobile">Mobile - {{people.mobile}}</li>
                                <li *ngIf="people.adminVerifiedStatus">Status - {{people.adminVerifiedStatus}}</li>
                                <li *ngIf="people.mobile">Mobile - {{people.mobile}}</li>
                            </ul>
                            
                            <a href="javascript:;" routerLink="/user-details/{{people.id}}">Details </a>
                            <a href="javascript:;" *ngIf="people.adminVerifiedStatus=='pending'" (click)="openModel('approved',people.id)">Approve </a>
                            <a href="javascript:;" *ngIf="people.adminVerifiedStatus=='pending'" (click)="openModel('rejected',people.id)">Reject </a>
                        
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- .card -->
        </div>
        <!--/.col-->
    </div>
</div>

<div class="modal fade" id="userApproval" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">User Approval</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (submit)="verify(userApprovalForm)" #userApprovalForm="ngForm">
                <div class="modal-body">

                    <p>Are you sure you want to {{approveOps.status=="approved"?'approve':'reject'}} this user</p>

                    <!-- <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" [(ngModel)]="approveOps.reason" name="Email" rows="5" id="comment" #reason="ngModel"></textarea>
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" >Confirm</button>
                </div>
            </form>    
        </div>
    </div>
</div>