<div class="animated fadeIn" *ngIf="peopleInfo.id">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Detail Page</strong>
                </div>
                <div class="card-body">
                    <div class="detail-text">
                        <div class="col-md-4">
                            <div class="detail-page-image">
                            <img class="img-responsive" [src]="peopleInfo.profileImage==''?defaultUserImg:baseURL+peopleInfo.profileImage">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h5>{{peopleInfo.name}}</h5>
                            <div class="Vehicle-detail-text">
                                <table class="table">
                                    
                                    <tbody>
                                        <tr *ngIf="peopleInfo.createdAt">
                                            <td>Created At</td>
                                            <td>-</td>
                                            <td>{{peopleInfo.createdAt| date:"dd MMMM, yyyy"}}</td>
                                        </tr>
                                        <tr *ngIf="peopleInfo.realm">
                                            <td>Role</td>
                                            <td>-</td>
                                            <td>{{peopleInfo.realm}}</td>
                                        </tr>
                                        <tr *ngIf="peopleInfo.companyName">
                                            <td>Company Name</td>
                                            <td>-</td>
                                            <td>
                                                {{peopleInfo.companyName}}
                                            </td>
                                        </tr>
                                        <tr *ngIf="peopleInfo.email">
                                            <td>Email</td>
                                            <td>-</td>
                                            <td>
                                                {{peopleInfo.email}}
                                                <img *ngIf="peopleInfo.emailVerified" height="15px" src="assets/images/icon/verified.png">
                                                <img *ngIf="!peopleInfo.emailVerified" height="15px" src="assets/images/icon/not_verified.png">
                                            </td>
                                        </tr>
                                        <tr *ngIf="peopleInfo.mobile">
                                            <td>Mobile</td>
                                            <td>-</td>
                                            <td>
                                                {{peopleInfo.mobile}}
                                                <img *ngIf="peopleInfo.mobileVerified" height="15px" src="assets/images/icon/verified.png">
                                                <img *ngIf="!peopleInfo.mobileVerified" height="15px" src="assets/images/icon/not_verified.png">
                                            </td>
                                        </tr>
                                        <tr *ngIf="peopleInfo.adminVerifiedStatus">
                                            <td>Admin Verified</td>
                                            <td>-</td>
                                            <td>{{peopleInfo.adminVerifiedStatus}}</td>
                                        </tr>
                                        <tr >
                                            <td>Rating</td>
                                            <td>-</td>
                                            <td>{{peopleInfo.rating.avgRating}}</td>
                                        </tr>
                                        <tr *ngIf="peopleInfo.canDrive">
                                            <td>Can Drive</td>
                                            <td>-</td>
                                            <td>{{peopleInfo.canDrive}}</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
