.navbar-default {
    background-color: #272c33; 
    border-color: #272c33; 
}

.right-panel{
	width:100vw;
}

@media only screen 
and (max-width : 575px) {
    .right-panel{
		width:100%;
	}
}

.sub-menu-icon{
	top:28px!important;
}

.navbar .navbar-nav li.menu-item-has-children a:before{
	top: 20px!important;
}