<div>
  <aside id="left-panel" class="left-panel" *ngIf="!isLoginPage">
     <nav class="navbar navbar-expand-sm navbar-default">
        <div class="navbar-header">
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
           <i class="fa fa-bars"></i>
           </button>
           <br />
           <a class="navbar-brand" routerLink="/"><img src="assets/images/logo.png" alt="Logo"></a>
           <a class="navbar-brand hidden" routerLink="/"><img src="assets/images/logo.png" alt="Logo"></a>
           
        </div>
        <div id="main-menu" class="main-menu collapse navbar-collapse">
           <ul class="nav navbar-nav">
              
              <li>
                 <a routerLink="/"> <img src="./../assets/images/sidebar_icons/dashboard.png" height="20px"> &nbsp;&nbsp;&nbsp;&nbsp; Dashboard </a>
              </li>
              
              <!-- <li>
                 <a routerLink="/vehicle-list"> <i class="menu-icon fa fa-dashboard"></i>Vehicles</a>
              </li> -->

              <!-- <h3 class="menu-title">Lists</h3> -->

              <li class="menu-item-has-children dropdown">
                  <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                     <img src="./../assets/images/sidebar_icons/vehicles.png" height="20px"> &nbsp;&nbsp;&nbsp;&nbsp; 
                     Vehicles
                  </a>
                 <ul class="sub-menu children dropdown-menu">
                    <li><a routerLink="/vehicle-list/approved"><i class="fa fa-puzzle-piece sub-menu-icon"></i>Approved</a></li>
                    <li><a routerLink="/vehicle-list/pending"><i class="fa fa-id-badge sub-menu-icon"></i>Pending</a></li>
                    <li><a routerLink="/vehicle-list/rejected"><i class="fa fa-bars sub-menu-icon"></i>Rejected</a></li>
                 </ul>
              </li>

              <li class="menu-item-has-children dropdown">
                  <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <img src="./../assets/images/sidebar_icons/user.png" height="20px"> &nbsp;&nbsp;&nbsp;&nbsp; 
                     Users
                  </a>
                 <ul class="sub-menu children dropdown-menu">
                    <li><a routerLink="/user-list/drivers"><i class="fa fa-puzzle-piece sub-menu-icon"></i>Drivers</a></li>
                    <li><a routerLink="/user-list/customers"><i class="fa fa-id-badge sub-menu-icon"></i>Customers</a></li>
                    <li><a routerLink="/user-list/owners"><i class="fa fa-bars sub-menu-icon"></i>Owners</a></li>
                    <li><a routerLink="/user-list/admins"><i class="fa fa-bars sub-menu-icon"></i>Admins</a></li>
                 </ul>
              </li>

              <li class="menu-item-has-children dropdown">
                 <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <img src="./../assets/images/sidebar_icons/jobs.png" height="20px"> &nbsp;&nbsp;&nbsp;&nbsp; 
                     Jobs
                  </a>
                 <ul class="sub-menu children dropdown-menu">
                    <li><a routerLink="/job-list/completed"><i class="fa fa-puzzle-piece sub-menu-icon"></i>Completed</a></li>
                    <li><a routerLink="/job-list/pending"><i class="fa fa-id-badge sub-menu-icon"></i>Pending</a></li>
                    <li><a routerLink="/user-list/rejected"><i class="fa fa-bars sub-menu-icon"></i>Rejected</a></li>
                 </ul>
              </li>

              <!-- <h3 class="menu-title">Add</h3> -->

              <!-- <li class="menu-item-has-children dropdown">
                 <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Add Job</a>
                 <ul class="sub-menu children dropdown-menu">
                    <li><a routerLink="/add-job/on-demand"><i class="fa fa-puzzle-piece sub-menu-icon"></i>On Demand</a></li>
                    <li><a routerLink="/add-job/standard-rate"><i class="fa fa-id-badge sub-menu-icon"></i>Standard Rate</a></li>
                 </ul>
              </li> -->

              <!-- <li class="menu-item-has-children dropdown">
                 <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Add User</a>
                 <ul class="sub-menu children dropdown-menu">
                    <li><a routerLink="/add-user/driver"><i class="fa fa-puzzle-piece sub-menu-icon"></i>Driver</a></li>
                    <li><a routerLink="/add-user/customer"><i class="fa fa-id-badge sub-menu-icon"></i>Customer</a></li>
                    <li><a routerLink="/add-user/owner"><i class="fa fa-bars sub-menu-icon"></i>Owner</a></li>
                    <li><a routerLink="/add-user/admin"><i class="fa fa-bars sub-menu-icon"></i>Admin</a></li>
                 </ul>
              </li> -->

           </ul>
        </div>
      </nav>
  </aside>

  <div id="right-panel" class="right-panel">

    <header id="header" class="header" *ngIf="!isLoginPage">
       <div class="header-menu">
          <div class="col-sm-7">
             <!-- <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a> -->
          </div>
          <div class="col-sm-5">
             <div class="user-area dropdown float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="user-avatar rounded-circle" src="assets/images/admin.jpg" alt="User Avatar">
                </a>
                <div class="user-menu dropdown-menu">
                   <!-- <a class="nav-link" href="#"><i class="fa fa- user sub-menu-icon"></i>My Profile</a>
                   <a class="nav-link" href="#"><i class="fa fa- user sub-menu-icon"></i>Notifications <span class="count">13</span></a>
                   <a class="nav-link" href="#"><i class="fa fa -cog sub-menu-icon"></i>Settings</a> -->
                   <a class="nav-link" href="javascript:;" (click)="logout()"><i class="fa fa-power -off sub-menu-icon"></i>Logout</a>
                </div>
             </div>
             <div class="language-select dropdown" id="language-select">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="language" aria-haspopup="true" aria-expanded="true">
                  <i class="flag-icon flag-icon-us"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="language">
                   <div class="dropdown-item">
                      <span class="flag-icon flag-icon-fr"></span>
                   </div>
                   <div class="dropdown-item">
                      <i class="flag-icon flag-icon-es"></i>
                   </div>
                   <div class="dropdown-item">
                      <i class="flag-icon flag-icon-us"></i>
                   </div>
                   <div class="dropdown-item">
                      <i class="flag-icon flag-icon-it"></i>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </header>
<!-- 
    <div class="breadcrumbs" *ngIf="!isLoginPage">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
 -->
    <div [ngClass]="{'content mt-3': !isLoginPage}">
      
      <router-outlet></router-outlet>
    </div>
  </div>  
</div>