<div class="animated fadeIn" *ngIf="vehicleInfo.owner">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Vehicle Details</strong>
                </div>
                <div class="card-body">
                    <div class="detail-text">
                        <h5 *ngIf="vehicleInfo.type">
                            {{vehicleInfo.type}}
                        </h5>
                        <div class="col-md-6">
                            <div class="Vehicle-detail-text">
                                <table class="table">
                                    <tbody>
                                        <tr *ngIf="vehicleInfo.assesmentStart">
                                            <td>Assesment Start</td>
                                            <td>-</td>
                                            <td>{{vehicleInfo.assesmentStart | date:"dd MMMM, yyyy"}}</td>
                                        </tr>
                                        <tr *ngIf="vehicleInfo.assessmentEnd">
                                            <td>Assesment End</td>
                                            <td>-</td>
                                            <td>{{vehicleInfo.assessmentEnd  | date:"dd MMMM, yyyy"}}</td>
                                        </tr>
                                        <tr *ngIf="vehicleInfo.vehicleNumber">
                                            <td>Vehicle No.</td>
                                            <td>-</td>
                                            <td>{{vehicleInfo.vehicleNumber}}</td>
                                        </tr>
                                        <tr *ngIf="vehicleInfo.ton">
                                            <td>Tonnage</td>
                                            <td>-</td>
                                            <td>{{vehicleInfo.ton}}</td>
                                        </tr>
                                        <tr *ngIf="vehicleInfo.bodyType">
                                            <td>Body Type</td>
                                            <td>-</td>
                                            <td>{{vehicleInfo.bodyType}}</td>
                                        </tr>
                                        <tr *ngIf="vehicleInfo.approveStatus">
                                            <td>Approval</td>
                                            <td>-</td>
                                            <td>{{vehicleInfo.approveStatus}}</td>
                                        </tr>
                                        <tr *ngIf="vehicleInfo.owner.name">
                                            <td>Owner Name</td>
                                            <td>-</td>
                                            <td>{{vehicleInfo.owner.name}}</td>
                                        </tr>
                                        <tr *ngIf="vehicleInfo.owner.email">
                                            <td>Owner Email</td>
                                            <td>-</td>
                                            <td>{{vehicleInfo.owner.email}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .card -->
        </div>
        <!--/.col-->
    </div>
</div>