<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">{{params.status|titlecase}} Vehicle List</strong>
                </div>
                <div class="card-body Vehicle" *ngFor="let vehicle of vehicles">
                    <div class="Vehicle-list">
                        <h3>{{vehicle.type}}</h3>
                        <span *ngIf="vehicle.createdAt">Date - {{vehicle.createdAt| date:"dd MMMM, yyyy"}}</span>
                        <ul>
                            <li *ngIf="vehicle.assesmentStart">Assessment Start - {{vehicle.assesmentStart | date:"dd MMMM, yyyy"}}</li>
                            <li *ngIf="vehicle.assessmentEnd">Assessment End - {{vehicle.assessmentEnd | date:"dd MMMM, yyyy"}}</li>
                            <li *ngIf="vehicle.vehicleNumber">Vehicle Number - {{vehicle.vehicleNumber}}</li>
                            <li  *ngIf="vehicle.registrationNumber">Registration No. - {{vehicle.registrationNumber}}</li>
                            <li *ngIf="vehicle.ton">Tonnage - {{vehicle.ton}}</li>
                            <li *ngIf="vehicle.bodyType">Body Type - {{vehicle.bodyType}}</li>
                            <li *ngIf="vehicle.approveStatus">Approval - {{vehicle.approveStatus}}</li>
                            
                        </ul>
                        <a href="javascript:;" *ngIf="vehicle.approveStatus =='pending'" (click)="openModel('approved',vehicle.id)">Approve </a>
                        <a href="javascript:;" *ngIf="vehicle.approveStatus =='pending'" (click)="openModel('reject',vehicle.id)">Reject </a>
                        <a routerLink="/vehicle-details/{{vehicle.id}}">Details </a>
                    </div>
                </div>
            </div>
            <!-- .card -->
        </div>
        <!--/.col-->
    </div>
</div>

<div class="modal fade" id="vehicleApproval" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">Vehicle Approval</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (submit)="verify(vehicleApprovalForm)" #vehicleApprovalForm="ngForm">
                <div class="modal-body">

                    <p>Are you sure you want to {{approveOps.status=="approved"?'approve':'reject'}} this user</p>

                    <!-- <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" [(ngModel)]="approveOps.reason" name="Email" rows="5" id="comment" #reason="ngModel"></textarea>
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" >Confirm</button>
                </div>
            </form>    
        </div>
    </div>
</div>