<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Jobs</strong>
                </div>
                <div class="card-body Vehicle" *ngFor="let job of jobs">
                    <div class="col-md-2">
                        <div class="driver-image">
                            <img class="img-responsive" src="assets/images/admin.jpg">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="Vehicle-list fuel-list">
                            <h3 *ngIf="job.title">{{job.title}}</h3>
                            <span *ngIf="job.createdAt">Date - {{job.createdAt|date : 'dd MMMM, yyyy'}}</span>
                            <ul>
                                <li *ngIf="job.requiredType">Require Type - {{job.requiredType}}</li>
                                <li *ngIf="job.weight">Weight - {{job.weight}}</li>
                                <li *ngIf="job.valueOfGoods">value of goods - {{job.valueOfGoods}}</li>
                                <li *ngIf="job.netPrice">Price - {{job.netPrice}}</li>
                                <li *ngIf="job.typeOfVehicle">type of vehicle - {{job.typeOfVehicle}}</li>
                                <li *ngIf="job.description">Description - {{job.description}}</li>
                                <li *ngIf="job.natureOfGoods">Nature of goods - {{job.natureOfGoods}}</li>
                                <li *ngIf="job.typeOfJob">Type of job - {{job.typeOfJob}}</li>
                                <li *ngIf="job.distance">Distance - {{job.distance.text}}</li>
                                <li *ngIf="job.vehicleTonnage">Vehicle Tonnage - {{job.vehicleTonnage}}</li>
                                <li *ngIf="job.status">Status - {{job.status}}</li>
                                
                            </ul>
                            <div style="clear: both;"></div>
                            <h5>{{job.netPrice}} KES</h5>
                            <a href="javascript:;" *ngIf="job.jobApproveStatus =='pending'" (click)="openModel('approved',job.id)">Approve </a>
	                        <a href="javascript:;" *ngIf="job.jobApproveStatus =='pending'" (click)="openModel('reject',job.id)">Reject </a>
	                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="jobApproval" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">Job Approval</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (submit)="verify(jobApprovalForm)" #jobApprovalForm="ngForm">
                <div class="modal-body">

                    <p>Are you sure you want to {{approveOps.status=="approved"?'approve':'reject'}} this user</p>

                    <!-- <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" [(ngModel)]="approveOps.reason" name="Email" rows="5" id="comment" #reason="ngModel"></textarea>
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" >Confirm</button>
                </div>
            </form>    
        </div>
    </div>
</div>